<td-layout-nav navigationRoute="/dashboard" logo="assets:logo-white" >
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <td-layout-card-over 
    cardTitle="{{title}}" 
    cardSubtitle=""
    cardWidth="90">
    <mat-card-content>

          <td-breadcrumbs>
            <a td-breadcrumb
                [routerLink]="['/dashboard']"
                >Dashboard</a>
            <a td-breadcrumb
                [routerLink]="['/users']"
                >Usuarios</a>
            <td-breadcrumb>Current</td-breadcrumb>
          </td-breadcrumbs>

          <form *ngIf="fg" [formGroup]="fg" class="form">

              <div layout-gt-xs="row">
               <mat-form-field flex >
                  <input matInput appAutofocus  class="form-control" placeholder="Login" formControlName="username">
                  <mat-error>
                    {{fg.controls.username.errorMessage}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div layout-gt-xs="row">
                <mat-form-field flex>
                  <input matInput  class="form-control" placeholder="Alias" formControlName="alias">
                  <mat-error>
                    {{fg.controls.alias.errorMessage}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field flex flex-offset="5" *ngIf="!id"> 
                    <input matInput [type]="showPassword" class="form-control" placeholder="Seña" formControlName="password">
                    <mat-icon matSuffix (click)="onShowPassword()">{{icon}}</mat-icon>
                    <mat-error>
                      {{fg.controls.password.errorMessage}}
                    </mat-error>
                </mat-form-field>
              </div>

              <!-- <div layout-gt-xs="row">
                <mat-checkbox formControlName="enabled">Activo
                </mat-checkbox>
              </div> -->

          </form>

    </mat-card-content>
    <mat-divider></mat-divider> 
    <mat-card-actions>
      <button mat-button color="accent" matTooltip="Grabar (F6)" (click)="updateUser($event)" [disabled]="!fg.valid" >Guabar</button>
      <button mat-button routerLink="/users"matTooltip="Salor (esc)">Salir</button>
    </mat-card-actions> 
  </td-layout-card-over>
</td-layout-nav>