<ngx-loading-bar  ></ngx-loading-bar>
<td-layout #layout>
        <td-navigation-drawer flex [sidenavTitle]="" logo="assets:logo-red" name="Usuario logueado:" email="admin">
        <mat-nav-list>
            
            <a *ngFor="let item of routes" mat-list-item>
                
                <div [routerLink]=[(item.route)] (click)="layout.close()" >
                    <mat-icon>{{item.icon}}</mat-icon>{{item.title}}
                </div>        
            </a>
            
        </mat-nav-list>
    </td-navigation-drawer>
  
  <router-outlet></router-outlet>
  


  </td-layout>