<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        
        <span class="login100-form-title p-b-28">
          <!-- <i class="zmdi zmdi-font"></i> -->
          <img src="./assets/responsive.svg" width="220px" style="padding: 0px"/>
        </span>

        <span class="login100-form-title p-b-28">
          BPMN Modeler
        </span>

        <div *ngIf='isBloqueada()' class="wrap-input100 validate-input" >
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="text" name="token"  [(ngModel)]="token" required>
            <span class="focus-input100" data-placeholder="Informe Token Desbloqueio"></span>
        </div>
 
        <ng-container *ngIf='!isBloqueada()'>

        <div class="wrap-input100 validate-input" >
          <input #username class="input100" type="text" name="username"[(ngModel)]="login.username" required >
          <span class="focus-input100" data-placeholder="Login"></span>
        </div>

        <div class="wrap-input100 validate-input" >
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input class="input100" type="password" name="password"  [(ngModel)]="login.password" required>
          <span class="focus-input100" data-placeholder="Contraseña"></span>
        </div>

        </ng-container>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="doLogin()">
              {{isBloqueada()?'Desbloquear':'Login'}}
            </button>
          </div>
        </div>

        <div class="text-center p-t-115">
          <span class="txt1">
            Datapar S.A. &copy; 2019 - Reservados todos los derechos
          </span>

          <!-- <a class="txt2" href="#">
            Sign Up
          </a> -->
        </div>
      </form>
    </div>
  </div>
</div>
